*{
    padding: 0px;
    margin: 0px;
}
.div{
    text-align: center;
    border-bottom: 6px solid black;
    height: 100px;
}
#show{
    display: none;
}

#toggle2{
    display: none;
}
#slidedown{
    display: none;
    color: red;
}
#slideup{
    
    color: blue;
}
#fadein{
    display: none;
    color: orange;
}
.selected{
    color: red;
}
#slidetoggle2{
    display: none;
}